<html>
    <body>
        <form method="post" action="/processing">
            Name : <input type = "text" name="text1" />
            Age : <input type = "number" name="text2" />
            <input type="submit"/>
        </form>
    </body>
</html>